//Style of entire listView
.table-view{
    /*-fx-background-color: transparent;*/
 }

.list-view .list-cell {
    -fx-font-size: 16px; /* Adjust the font size as needed */
    -fx-font-weight:bold; 
    -fx-font-family: "Lato";
    -fx-alignment: center;
}

//Style of each entire row in the table view when is hovered
.list-row-cell:hover {
    -fx-background-color:#0fbfbf;
    -fx-text-fill: white;
}

//Style of each entire row in the table view when is getting focused
.list-row-cell:focused {
    -fx-background-color:#0a6c6d;
    -fx-text-fill: white;
}